<header>
    <a class="link-back" href="{{ path('home') }}">LeBonCoin</a>
    <nav class="nav__user-menu">
        {% if is_granted("ROLE_USER") %}
            <ul>
                <li><a href="{{ path('user_account') }}">Mon Compte</a></li>
                <li><a href="{{ path('user_adverts') }}">Mes Annonces</a></li>
                <li><a href="">Mes Achats</a></li>
            </ul>
        {% endif %}
    </nav>
    <nav class="nav__cta">
        <ul>
            
                <li><a href="{{ path('logout') }}" class="button">Déconnexion</a></li>
            {% else %}
                <li><a href="{{ path('register') }}" class="button">Inscription</a></li>
                <li><a href="{{ path('login') }}" class="button">Connexion</a></li>
            {% endif %}
        </ul>
    </nav>
</header>     